.contacts
	a.contact(href="tel:+380999999999")
		i.fas.fa-mobile-alt.contact__icon
		span.contact__text 6337  1312 

	a.contact(href="mailto:info@ukr.net")
		i.far.fa-envelope.contact__icon.contact__icon--email
		span.contact__text info@ukr.net

	a.facebook-icon(href="facebook.com")
		i.fab.fa-facebook