doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet", href="css/main.min.css")
		title Document
	body 
		h1 klsjdfgvbklonifonk